<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
/* More info: http://ellislab.com/codeigniter/user-guide/libraries/email.html */

$config['mailtype'] = 'html';
$config['protocol'] = 'smtp';
$config['smtp_host'] = 'ssl://smtp.googlemail.com';
$config['smtp_port'] = 465;
$config['smtp_user'] = 'nettutsTutorials@gmail.com';
$config['smtp_pass'] = 'nettuts-tutorials';